#footer-body{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(228, 228, 228);
  padding: 1vw 0;
  height: 5vw;
}
#icon-list{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
}
#icon-list div{
  padding: 0 0.5vw;
}
#footer-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer-text p {
  margin: 0;
}