
#header-body{
  top: 0;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3vw;
  padding-right: 3vw;
}
#logo{
  font-family: "amarillo";
  color: #03aec5;
  font-size: 18px;
}

#header-right{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #3b3b3b;
  font-family: 'lineseedkrbd';
}

#header-right div{
  padding-left: 1.8vw;
}

.header-menu:hover {
  color: #03aec5;
}
.first-row{
  width: 85px;
  text-align: center;
}
