body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "amarillo";
  src: url(../src/fonts/Amarillo.otf);
}

@font-face {
  font-family: "lineseedkrbd";
  src: url(../src/fonts/LINESeedKR-Bd.otf);
}

@font-face {
  font-family: "lineseedkrrg";
  src: url(../src/fonts/LINESeedKR-Rg.otf);
}

@font-face {
  font-family: "lineseedkrth";
  src: url(../src/fonts/LINESeedKR-Th.otf);
}
